/* FONTS */
h1,h2,h3,h4,h5,h6 			{ color: $text-color; font-family: $evil; font-weight: normal; margin-bottom: 20px; margin-top: 0px; }

h1							{ font-size: 3rem; font-family: $header-font; line-height: 1.1; margin: 0;
	@media (max-width: $screen-sm-max)  { font-size: 4rem; }
}
h2							{ font-size: 3rem; line-height: 1.25;  font-family: $evil;
	@media (max-width: $screen-sm-max)  { font-size: 2.8rem; }
}
h3							{ font-size: 2.6rem; line-height: 1.5; }
h4							{ font-size: 2rem; line-height: 1.5; }
h5							{ font-family: $body-font; font-size: 1.8rem; font-weight: bold; line-height: 1.5; }
h6							{ font-family: $body-font; font-size: 1.5rem; font-weight: bold; line-height: 1.5; }

html 						{ font-size: $root-font-size; line-height: 1.5; }

.default-font-style			{ font-weight: normal; font-size: 1.4rem; line-height: 1.5; color: $black; font-family: $body-font; margin-bottom: 20px; }
body 						{ @extend .default-font-style; 
	p 						{ @extend .default-font-style; }

	a						{ color: $anchor-color; text-decoration: none;

		&:visited			{ color: $anchor-color; }

		&:focus,
		&:active			{ color: $anchor-color; }

		&:hover				{ color: $anchor-hover; text-decoration: underline; } 

	}
}

//need to use mixin because pseudo elements don't play well with @extend
@mixin placeholder-styles($color) {
	color: $color;
	font-size: 1.8rem;
	opacity: 1;
}

::-webkit-input-placeholder { @include placeholder-styles($graaay); }
:-moz-placeholder           { @include placeholder-styles($graaay); }
::-moz-placeholder          { @include placeholder-styles($graaay); }
:-ms-input-placeholder      { @include placeholder-styles($graaay); }

@media (max-width: $screen-xs-max) { }