// POWER AND EQUIPMENT TABLES
#powers 				{
	#power-table 		{ 
		tbody th 		{ width:30%; }
		th 				{ vertical-align: middle; }
		td 				{ text-align: center; vertical-align: middle;
			&.name 		{ text-align: left; }

			&.dice 		{ font-size: 2rem; }
		}
	}

	@media (max-width: $screen-sm-max)  { margin-bottom: 30px;
		
		#power-table 	{ 
			th 			{ width: 40%; }
			td 			{ padding: 0; width: auto; }
		}
	}
}

#equipment 				{ 
	.item 				{ margin-bottom: 30px;
		.equipment-table{ width:100%;
			th 			{ width:30%; }
			td 			{  }
		}
	}
}

// ACTION MODALS
.action-modal 			{ background: rgba(0, 0, 0, 0); position: fixed; top: -20%; right: 0; bottom: 0px; left: 0; visibility: hidden; transition: all $menu-transition; z-index: 99;
	&.open 				{ visibility: visible; background: rgba(0, 0, 0, 0.5);
		.action-content { opacity: 1; }
	}

	.action-content 	{ @include center(); background-color: $white; border: 1px solid $dark-gray; opacity: 0; transition: opacity $menu-transition; width: 90%; max-width: 320px;
		.action-title 	{ background-color: $light-gray; font-family: $evil; padding: 15px;
			.action-close { cursor: pointer; float: right; font-size: 2.1rem; }
		}

		.action-body 	{ padding: 15px;
			h6 			{ border-bottom: 1px solid $upgrayddd; margin-bottom: 5px; padding-bottom: 5px; }
			label 		{ font-weight: normal; }

			table 		{ width: 100%;
				th,td 	{ }
				th 		{ padding: 6px 4px 6px 0; }
				td 		{ padding: 6px 0 6px 4px; }
			}

			.form-control,
			select 		{ padding-left: 2px; font-size: 1.6rem; }

			select 		{ margin-top: 4px; }
		}

		.action-footer  { background-color: $light-gray;  text-align: right; padding: 15px;
			.btn 				{ 
				&.btn-outline-default 	{ border-color: $dark-gray; }
				&:hover {  }
			}
		}
	}
}

// ACTION DICE
#action-dice 			{ position: fixed; bottom: 0; padding: 30px 0; display: flex; justify-content: space-around; width: 100%;
	.action-dice 		{ background-color: #fefefe; border-radius: 50%; border: 1px solid $dark-gray; cursor: pointer; padding: 10px; text-align: center; position: relative; height: 6rem; width: 6rem;
		i 				{ @include center(); font-size: 3.4rem; }
	}

	#d4 				{ background-color: rgb(196, 117, 241); }
	#d6 				{ background: gold; }
	#d8 				{ background: dodgerblue; }
	#d10 				{ background: darkseagreen; }
	#d12 				{ background: coral; }
	#d20 				{ background: pink; }
}

#dice-result 			{ visibility: hidden; opacity: 0; transition: opacity $menu-transition, visibility $menu-transition; background-color: $white; position: fixed; left: 50%; bottom: 100px; font-size: 6rem;
	&.open 				{ visibility: visible; opacity: 1; }

	span 				{ @include center(); top: 40%; font-size: 3rem; }
}

// INDIVIDUAL ACTION MODALS
#roller-modal 			{ 
	.roller-table 		{ width: 100%;
		th 				{ width: 40%; }
		td 				{  }
	}
}

#mutate-modal 			{ 
	.mutate-table 		{ 
		th 				{  }
		td 				{  }
	}
}

#info-modal 			{ 
	h5 					{ font-family: $evil; margin-bottom: 10px; }

	.info-table 		{ 
		th 				{  }
		td 				{  }
	}
}

#start-turn 			{ background-color: #fefefe; border-radius: 50%; border: 1px solid $dark-gray; cursor: pointer; padding: 15px; position: fixed; bottom: 30px; right: 30px;
	i 					{ font-size: 3.6rem; }
}


// ADD CHARACTER
#add-character 			{ margin-top: 50px;

}


@media print			{ 
	#powers 			{ 
		#power-table 	{ 
			th 			{ width: 40%; }
			td 			{ width: 60%; }
		}
	}
}