/* SITE WIDE */   
html, body					{ width: 100%; display:block; margin: 0; }
html 						{ position: relative; /* font-size: $root-font-size; */ }
body 						{ 	background-color: $body-color; transition: background-color $menu-transition;
								overflow-y:scroll; 
								overflow-x:hidden; 
								position:relative; 
								padding-bottom: 100px;
								@extend .txt-antialiased;
}

//need to use mixin because pseudo elements don't play well with @extend
@mixin selection-styles($color) {
	color: white;
	background: $color;
	background: rgba($color, 0.9);
}

::-moz-selection { /* Code for Firefox */
	@include selection-styles($red);
}

::selection {
	@include selection-styles($red);
}



img 						{ max-width: 100%; height: auto; }

//allow the lazy loaded images to fade in.
//We have some divs with background images AND normal image sthat are affected by lazy load
div.lazy,
img.lazy {
	opacity: 1;
	transition: opacity 0.3s;
}

div.lazy[data-src],
img.lazy[data-src] {
	opacity: 0;
}

a:focus,
button:focus,
input:focus 				{ outline: 0 !important; }


hr 							{ border-color: $upgrayddd; margin: 40px 0px; }

/*
.card 						{ border: 0;
	.card-body 				{ padding: 0; }
}
*/

/* styles for the entry / content areas */
.entry,
.content 					{

	/*
	ul, ol 					{ margin-bottom: 20px; display: block; padding-left: 30px; overflow: hidden;
		li 					{ margin-bottom: 10px; }
	}

	ul 						{ 
		li 					{ list-style: none;
			&:before 		{  font-family: 'Font Awesome 5 Pro'; content: '\f111'; margin:0 15px 0 -20px; color: $text-color; font-size: 0.6rem; position: relative; top: -3px; }
		}
	}
	*/

}

/**
 * FEATURED
 */



/**
 * WRAPPER
 */
.wrapper 					{ position: relative; 
	> .container 			{ padding: 15px; }
}

blockquote 					{ background: #f1f1f1; border-left: 10px solid $upgrayddd; margin-bottom: 40px; padding: 30px 10px 10px 30px; }

//most common background colors, often applied to the wrapper
.white-back 				{ background-color: #fff; }

/**
 * FOOTER
 */
#footer 					{ 

}
