/* SITE WIDE */   
html, body					{ width: 100%; display:block; margin: 0; height: 100%; }
html 						{ position: relative; /* font-size: $root-font-size; */ }
body 						{ @extend .txt-antialiased; background-color: $body-color; color: $text-color; overflow-y: hidden; overflow-x:hidden; position:relative; height: 100vh;
}

//need to use mixin because pseudo elements don't play well with @extend
@mixin selection-styles($color) {
	color: white;
	background: $color;
	background: rgba($color, 0.9);
}


img 						{ max-width: 100%; height: auto; }

//allow the lazy loaded images to fade in.
//We have some divs with background images AND normal image sthat are affected by lazy load
div.lazy,
img.lazy {
	opacity: 1;
	transition: opacity 0.3s;
}

div.lazy[data-src],
img.lazy[data-src] {
	opacity: 0;
}

a:focus,
button:focus,
input:focus 				{ outline: 0 !important; }


hr 							{ border-color: $upgrayddd; margin: 40px 0px; }

/*
.card 						{ border: 0;
	.card-body 				{ padding: 0; }
}
*/

/* styles for the entry / content areas */
.entry,
.content 					{

	/*
	ul, ol 					{ margin-bottom: 20px; display: block; padding-left: 30px; overflow: hidden;
		li 					{ margin-bottom: 10px; }
	}

	ul 						{ 
		li 					{ list-style: none;
			&:before 		{  font-family: 'Font Awesome 5 Pro'; content: '\f111'; margin:0 15px 0 -20px; color: $text-color; font-size: 0.6rem; position: relative; top: -3px; }
		}
	}
	*/

}

/**
 * FEATURED
 */



/**
 * WRAPPER
 */
.wrapper 					{ position: relative; 
	> .container 			{ padding: 15px; }
}

blockquote 					{ background: #f1f1f1; border-left: 10px solid $upgrayddd; margin-bottom: 40px; padding: 30px 10px 10px 30px; }

//most common background colors, often applied to the wrapper
.white-back 				{ background-color: #fff; }


//override default bootstrap tables
.table th,
.table td 					{ padding: 0.75rem; vertical-align: top; border-bottom: 1px solid $border-color; }

.table thead th 			{ border-top: 0; border-bottom: 1px solid $border-color; }

.list-group-item 			{ }

figure 						{ margin-bottom: 2rem; }

.tab-content 				{ }

.nav-tabs 					{ border-bottom: 1px solid $border-color;
	.nav-item 				{ margin-bottom: -1px; border: 1px solid transparent;
		&:hover, 
		&:focus 			{ border: 1px solid transparent; border-bottom: 0; border-color: #999 #999 #fff; }

		&.active 			{ color: $text-color; border: 1px solid transparent; border-color: $border-color $border-color #fff; }
	}

	.nav-link 				{ border: 0; font-weight: bold;
		&:hover, 
		&:focus 			{  }
	}

}

.page-wrapper 				{ margin-right: 0; margin-left: 0; height: 100%; }


/**
 * Common styles for all slack pages
 */
.page 						{ 
	.chat-wrapper 			{ padding: 15px; overflow-y: scroll; height: calc(100vh - 100px); visibility: hidden;
		&.loaded 			{ visibility: visible; }

		.chat-message 		{ padding: 10px 0;
			.chat-img 		{ padding-right: 10px;
				i 			{ font-size: 3rem; }
			}

			.chat-content 	{ 
				.name 		{  }
				.timestamp 	{  }
			}
		}
	}

	.player-form-wrapper 	{ background-color: #f1f1f1; padding: 10px 15px; position: fixed; bottom: 0; width: 100%;
		.player-chat-form 	{ 
			.input-group 	{ 
				input 		{ border :1px solid $border-color; border-right: 0; flex: 1; font-size: 1.8rem; padding: 0 10px; text-align: left; }
			}
		}
	}
}


/**
 * FOOTER
 */
#footer 					{ 

}
