#main-navigation 					{ padding: 15px;
	#logo 							{ float: left; }
}

#menu 								{ background-color: $white; border-left: 1px solid $gray-problems; transition: all $menu-transition cubic-bezier(0.39, 0.575, 0.565, 1); transform: translate3d(0, 0, 0); padding: 15px; position: absolute; top: 0; right: 0; bottom: 0; transform: translate3d(100%, 0, 0); width: 240px;
	&.open 							{ transform: translate3d(0, 0, 0); }
	
	ul 								{ border-bottom: 1px solid $gray-problems; padding: 0; margin-top: 100px;
		li 							{ list-style: none; border-top: 1px solid $gray-problems;
			a 						{ display: block; padding: 10px 5px;
				&:hover 			{  }
			}
		}
	}
}

.menu-toggle 						{ cursor: pointer; float: right; padding: 15px 15px 0 0; user-select: none;
	@media (max-width: $screen-sm-max)  { padding: 7px 15px; }
}